.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0.4rem;
    width: calc(100% - 0.8rem);
    height: 100%;
    background-color: var(--primary);
    color: var(--primary-text);
}

.container::-webkit-scrollbar {
    display: none;
}
