{
    "src/**/*.js?(x)": [
        "eslint",
        "git add",
        "jest --config \".jest/config.js\" --bail --findRelatedTests"
    ],
    "src/**/*.css": [
        "stylelint",
        "git add"
    ]
}