.src-components-__App-module__container--EvjUd {
    display: grid;
    grid-template-rows: 3rem;
    width: 100%;
    height: 100%;
}

.src-components-__App-module__container--EvjUd header {
    width: 100%;
    height: 3rem;
    overflow: hidden;
}

.src-components-__App-module__container--EvjUd main {
    width: 100%;
    height: 100%;
}

.src-components-__App-module__container--EvjUd footer:empty {
    display: none;
}

.src-components-appbar-__AppBar-module__container--1t7NE {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background: #333641;
    color: #FFFFFF;
}

.src-components-appbar-__AppBar-module__container--1t7NE > * {
    -webkit-box-flex: 1;
            flex: 1;
    margin-right: 1rem;
}

.src-components-layout-__FlexibleOrientationLayout-module__container--Y7WgW {
    width: 100%;
    height: 100%;
}

.src-components-layout-__FlexibleOrientationLayout-module__container--Y7WgW.resizing * {
    /** Disable transitions while resizing in a flexible orientation layout */
    -webkit-transition: none !important;
    transition: none !important;
}

.src-components-workspace-__WorkspaceLayout-module__container--CLz1g {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.src-components-workspace-__WorkspaceLayout-module__background--1tGj1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.src-components-workspace-__WorkspaceLayout-module__foreground--19Bj6 {
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /**
     * HACK: Overrides the input events for workspace foreground.
     * This let's you actually click background stuff. BUT, you
     * will need to enable pointer-events for everything that
     * you want to be able to click. :(
     *
     * Refer to DrawerLayer and SideBarLayout for how this is done.
     **/
    pointer-events: none;
}

.src-components-sidebar-__SideBarLayout-module__container--IRmyy {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    width: 100%;
    height: 100%;
}

.src-components-sidebar-__SideBarLayout-module__sidebar--3QCjY {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #333641;
    padding: 0 0.3rem;

    /**
     * HACK: Overrides the 'none' for workspace foreground input events.
     * Refer to WorkspaceLayout for more info.
     **/
    pointer-events: auto;
}

.src-components-sidebar-__SideBarLayout-module__viewport--YrPLf {
    -webkit-box-flex: 1;
            flex: 1;
    width: 100%;
    height: 100%;
}

.src-components-sidebar-__SideBarLayout-module__sidebar--3QCjY.left {
    width: 2rem;
}

.src-components-sidebar-__SideBarLayout-module__sidebar--3QCjY.right {
    width: 2rem;
}

.src-components-sidebar-__SideBarLayout-module__sidebar--3QCjY.top {
    height: 2rem;
}

.src-components-sidebar-__SideBarLayout-module__sidebar--3QCjY.bottom {
    height: 2rem;
}

.src-components-drawer-layout-__DrawerLayout-module__container--3MR1r {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    width: 100%;
    height: 100%;

    --drawer-layout-handle: var(--primary, #333641);
    --drawer-layout-background: var(--primary-dark, #1D1E22);
    --drawer-layout-text: var(--primary-text, #FFFFFF);
}

.src-components-drawer-layout-__DrawerLayout-module__viewport--2t6VQ {
    -webkit-box-flex: 1;
            flex: 1;
    width: 100%;
    height: 100%;

    /** NOTE: This is not like the other viewports. It likes to hide... */
    overflow: hidden;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: var(--drawer-layout-text);
    background: var(--drawer-layout-background);

    /**
     * HACK: Overrides the 'none' for workspace foreground input events.
     * Refer to WorkspaceLayout for more info.
     **/
    pointer-events: auto;

    /** Animated properties */
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx .src-components-drawer-layout-__DrawerLayout-module__content--2rQdm {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.left .src-components-drawer-layout-__DrawerLayout-module__content--2rQdm,
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.right .src-components-drawer-layout-__DrawerLayout-module__content--2rQdm {
    /** It's being blocked by the handle. */
    margin-left: calc(6px);
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.top .src-components-drawer-layout-__DrawerLayout-module__content--2rQdm,
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.bottom .src-components-drawer-layout-__DrawerLayout-module__content--2rQdm {
    /** It's being blocked by the handle. */
    margin-top: calc(6px);
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.left,
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.right {
    min-width: 15rem;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.top,
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.bottom {
    min-height: 15rem;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx:not(.open) {
    /** Forces drawer to exit the flow. */
    position: absolute;

    /** Animated properties */
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

/** Sliiiide to the left! */
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.left:not(.open) {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

/** Sliiiide to the right! */
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.right:not(.open) {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

/** Sliiiide to the top! */
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.top:not(.open) {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

/** Sliiiide to the bottom! */
.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.bottom:not(.open) {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
}

.src-components-drawer-layout-__DrawerLayout-module__handle--3DhVj {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--drawer-layout-handle);
    border-left: 2px solid rgba(255, 255, 255, 0.05);
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: auto;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx:not(.open) .src-components-drawer-layout-__DrawerLayout-module__handle--3DhVj {
    pointer-events: none;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.left .src-components-drawer-layout-__DrawerLayout-module__handle--3DhVj {
    right: 0;
    width: 6px;
    -webkit-transform: translateX(calc(6px / 2));
            transform: translateX(calc(6px / 2));
    cursor: col-resize;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.right .src-components-drawer-layout-__DrawerLayout-module__handle--3DhVj {
    left: 0;
    width: 6px;
    -webkit-transform: translateX(calc(6px / -2));
            transform: translateX(calc(6px / -2));
    cursor: col-resize;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.bottom .src-components-drawer-layout-__DrawerLayout-module__handle--3DhVj {
    top: 0;
    height: 6px;
    -webkit-transform: translateY(calc(6px / -2));
            transform: translateY(calc(6px / -2));
    cursor: row-resize;
}

.src-components-drawer-layout-__DrawerLayout-module__drawer--1xNfx.top .src-components-drawer-layout-__DrawerLayout-module__handle--3DhVj {
    bottom: 0;
    height: 6px;
    -webkit-transform: translateY(calc(6px / -2));
            transform: translateY(calc(6px / -2));
    cursor: row-resize;
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv {
    display: -webkit-box;
    display: flex;
    color: white;
    text-align: center;
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv > * {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv > *:focus {
    background: rgba(255, 255, 255, 0.1);
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv.horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 100%;
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv.vertical {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    width: 100%;
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv.horizontal > * {
    margin: 0.2rem 0;
}

.src-components-drawer-__DrawerSideBar-module__sidetab--33BFv.vertical > * {
    margin: 0 0.2rem;
}

.src-components-icons-__IconButton-module__container--Nr-e0 {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;

    /** DEBUG: This should inherit from its parent instead */
    color: white;
}

.src-components-icons-__IconButton-module__icon--57JHa {
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;

    /** Inherits the color from the container */
    color: currentColor;
}

.src-components-icons-__IconButton-module__container--Nr-e0:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.src-components-viewport-__Viewport-module__container--EzMwJ {
    position: relative;
    width: 100%;
    height: 100%;
}

.src-components-viewport-__Viewport-module__container--EzMwJ > * {
    pointer-events: auto;
}

.src-components-logo-__Logo-module__container--2GWTk {
    display: inline-block;
    margin-left: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.src-components-logo-__Logo-module__logo--Y2mwP {
    padding: 0 0.3rem;
    border-radius: 0.5rem;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.src-components-logo-__Logo-module__logo--Y2mwP:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.src-components-logo-__Logo-module__title--3ldMw {
    display: inline;
    margin: 0;
    padding: 0;
}

.src-components-logo-__Logo-module__version--15CTe {
    display: inline;
    margin: 0;
    padding: 0;
    margin-left: 0.2rem;
    margin-top: 1rem;
    font-size: 0.6rem;
    bottom: 0;
}

.src-components-__ModuleSelector-module__container--3WlTJ {
    position: relative;
    display: inline-block;
}

.src-components-__ModuleSelector-module__launcher--1aD3Q {
    width: 5rem;
    opacity: 1;
    -webkit-transition: width 0.2s ease, opacity 0.4s ease;
    transition: width 0.2s ease, opacity 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
}

.src-components-__ModuleSelector-module__launcher--1aD3Q:disabled {
    width: 0;
    opacity: 0;
}

.src-components-__ModuleSelector-module__cancel--3Uv3X {
    width: 5rem;
    opacity: 1;
    -webkit-transition: width 0.2s ease, opacity 0.4s ease;
    transition: width 0.2s ease, opacity 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
}

.src-components-__ModuleSelector-module__cancel--3Uv3X:disabled {
    width: 0;
    opacity: 0;
}

.src-components-__ModuleSelector-module__selector--2nqBy {
    margin: 0 0.5rem;
}

.src-components-example-helloWorld-__HelloWorld-module__helloWorld--Rt5Bj {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.src-components-example-helloWorld-__HelloWorld-module__title--3YuHK {
    color: black;
    margin: 0;
    padding: 0;
}

.src-components-example-helloWorld-__HelloWorld-module__rainbow--3ggyl {
    background-image:
        -webkit-gradient(
            linear,
            right top, left top,
            color-stop(red, /* We have twice each color because RED is split in half
            * to smooth the repeating transition */),
            color-stop(violet),
            color-stop(violet),
            color-stop(indigo),
            color-stop(indigo),
            color-stop(blue),
            color-stop(blue),
            color-stop(green),
            color-stop(green),
            color-stop(yellow),
            color-stop(yellow),
            color-stop(orange),
            color-stop(orange),
            to(red)
        );
    background-image:
        linear-gradient(
            to left,
            /* We have twice each color because RED is split in half
            * to smooth the repeating transition */
            red,
            violet,
            violet,
            indigo,
            indigo,
            blue,
            blue,
            green,
            green,
            yellow,
            yellow,
            orange,
            orange,
            red
        );
    background-size: 40rem;
    -webkit-background-clip: text;
            background-clip: text;
    background-position: 40rem;
    color: transparent;
    -webkit-animation: src-components-example-helloWorld-__HelloWorld-module__rainbowAnimate--1TLV6 1s infinite linear;
            animation: src-components-example-helloWorld-__HelloWorld-module__rainbowAnimate--1TLV6 1s infinite linear;
}

@-webkit-keyframes src-components-example-helloWorld-__HelloWorld-module__rainbowAnimate--1TLV6 {
    0% { background-position: 0; }
    100% { background-position: 40rem; }
}

@keyframes src-components-example-helloWorld-__HelloWorld-module__rainbowAnimate--1TLV6 {
    0% { background-position: 0; }
    100% { background-position: 40rem; }
}

.src-components-options-__Options-module__container--1O4mR[disabled] {
    color: gray;
}

.src-components-options-__Options-module__container--1O4mR input[disabled] ~ label[for] {
    color: gray;
}

.src-components-pane-__Pane-module__container--3LUuP {
    margin: 0 1rem;
    padding: 0.2rem 0;

    /** This is so people have space to scroll OUTSIDE. */
    padding-right: 1rem;

    --pane-content: var(--content-main, #FFFFFF);
    --pane-outline: var(--accent-dark, #FFD70088);
    --pane-outline-important: var(--accent, #FFD700);
}

.src-components-pane-__Pane-module__innerContainer--2SrWx {
    border-bottom: 4px solid var(--pane-outline);
}

.src-components-pane-__Pane-module__container--3LUuP.open > .src-components-pane-__Pane-module__innerContainer--2SrWx {
    border-color: var(--pane-outline-important);
    padding-bottom: 1rem;
}

.src-components-pane-__Pane-module__container--3LUuP > .src-components-pane-__Pane-module__innerContainer--2SrWx > header {
    width: 100%;
    height: 3rem;
}

.src-components-pane-__Pane-module__container--3LUuP > .src-components-pane-__Pane-module__innerContainer--2SrWx > main {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 60vw;
    color: var(--pane-content);

    /* border-bottom: 4px solid var(--pane-outline-important); */
}

.src-components-pane-__Pane-module__dropdown--1SA9L {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: var(--pane-content);

    /** Get rid of button default styles. */
    padding: 0.2rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.src-components-pane-__Pane-module__dropdown--1SA9L:hover {
    background: rgba(255, 255, 255, 0.1);
}

.src-components-pane-__Pane-module__dropdown--1SA9L > .src-components-pane-__Pane-module__title--_MqlS {
    -webkit-box-flex: 1;
            flex: 1;
    font-size: 1.2rem;
    text-align: left;
}

.src-components-pane-__Pane-module__container--3LUuP > .src-components-pane-__Pane-module__innerContainer--2SrWx > header > .src-components-pane-__Pane-module__dropdown--1SA9L > .icon {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}

.src-components-pane-__Pane-module__container--3LUuP.open > .src-components-pane-__Pane-module__innerContainer--2SrWx > header > .src-components-pane-__Pane-module__dropdown--1SA9L > .icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.src-components-pane-__Pane-module__container--3LUuP.open > .src-components-pane-__Pane-module__innerContainer--2SrWx > main {
    display: block;
    overflow: auto;
}

.src-experimental-components-colorPane-__ColorEntry-module__container--3pxFR {
    display: -webkit-box;
    display: flex;
}

.src-experimental-components-colorPane-__ColorEntry-module__title--2d4OR {
    text-align: left;
    -webkit-box-flex: 1;
            flex: 1;
}

.src-experimental-components-colorPane-__ColorSubEntry-module__container--1hSTU {
    display: -webkit-box;
    display: flex;
    margin-left: 1rem;
}

.src-experimental-components-colorPane-__ColorSubEntry-module__title--20DFZ {
    text-align: left;
    -webkit-box-flex: 1;
            flex: 1;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleEntry-module__container--19Lfj {
    display: -webkit-box;
    display: flex;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleEntry-module__title--24w8I {
    text-align: left;
    -webkit-box-flex: 1;
            flex: 1;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleGroup-module__container--2lvR9 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleGroup-module__title--3-nqL {
    text-align: left;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleList-module__container--3gsOX {
    list-style: none;
    margin: 0;
    padding: 0;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleList-module__groupEntry--2FTDq > label {
    border-bottom: 1px solid white;
}

.src-experimental-components-theme-themeStyle-__ThemeStyleList-module__computedEntry--2yftq {
    margin-left: 1rem;
}

.src-modules-fa-__FiniteAutomataToolbar-module__toolset--1helN {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    min-width: 5rem;
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R {
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 20rem;
    max-height: 80%;
    overflow-y: auto;
    background-color: darkgray;
    border-top: 0.5rem solid black;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R > p {
    margin: 0.5rem;
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R > fieldset {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R > fieldset > legend {
    font-size: 0.8rem;
    opacity: 0.3;
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R.info {
    /** It's the default style */
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R.error {
    border-color: darkred;
    background-color: orangered;
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R.warning {
    border-color: gold;
    background-color: yellow;
}

.src-services-notify-components-__MessageContainer-module__container--3uQ0R.success {
    border-color: darkgreen;
    background-color: olivedrab;
}

.src-modules-fa-drawer-overview-definition-__ItemList-module__itemList--3lap4 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.src-modules-fa-drawer-overview-definition-__ItemList-module__itemList--3lap4 > li {
    display: inline-block;
    margin: 0.1rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
}

.src-modules-fa-drawer-overview-definition-__ItemList-module__itemList--3lap4 > li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.src-modules-fa-drawer-overview-definition-__ItemList-module__itemLabel--3bnPP {
    margin: 0 0.2rem;
}

.src-modules-fa-drawer-overview-definition-__ItemList-module__emptyLabel--2J6sm {
    text-align: center;
    width: 100%;
    opacity: 30%;
    font-size: 1.5rem;
}

.src-modules-fa-drawer-overview-definition-__ItemList-module__markedLabel--2TePt {
    text-decoration: underline;
}

.src-modules-fa-drawer-overview-definition-__TransitionChart-module__chartKey--1VaGi {
    text-align: center;
}

.src-modules-fa-drawer-overview-definition-__TransitionChart-module__chartValue--1yXrM {
    text-align: center;
}

.src-modules-fa-drawer-overview-definition-__TransitionChart-module__chartKey--1VaGi.error,
.src-modules-fa-drawer-overview-definition-__TransitionChart-module__chartValue--1yXrM.error {
    color: red;
}

.src-modules-fa-drawer-overview-definition-__TransitionChart-module__forAllOtherInputs--1L0TS .src-modules-fa-drawer-overview-definition-__TransitionChart-module__chartKey--1VaGi {
    font-size: 0.8rem;
}

.src-modules-fa-drawer-overview-analysis-__TransitionTable-module__tableEntry--1vo17 {
    text-align: center;
}

.src-modules-fa-drawer-overview-analysis-__TransitionTable-module__tableEntry--1vo17.error {
    color: red;
}

.src-modules-fa-drawer-overview-analysis-__TransitionTable-module__tableEntry--1vo17:not(.error).disabled,
.src-modules-fa-drawer-overview-analysis-__TransitionTable-module__tableAxisHeader--tjJ0G.disabled {
    opacity: 0.3;
}

.src-renderers-decors-__TooltipRenderer-module__container--3bFU6 {
    text-anchor: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    -webkit-animation: src-renderers-decors-__TooltipRenderer-module__fadein--3MZif 10s forwards;
            animation: src-renderers-decors-__TooltipRenderer-module__fadein--3MZif 10s forwards;
}

.src-renderers-decors-__TooltipRenderer-module__container--3bFU6.hidden {
    -webkit-animation: src-renderers-decors-__TooltipRenderer-module__fadeout--2ylMS 1s forwards;
            animation: src-renderers-decors-__TooltipRenderer-module__fadeout--2ylMS 1s forwards;
}

@-webkit-keyframes src-renderers-decors-__TooltipRenderer-module__fadein--3MZif {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes src-renderers-decors-__TooltipRenderer-module__fadein--3MZif {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@-webkit-keyframes src-renderers-decors-__TooltipRenderer-module__fadeout--2ylMS {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes src-renderers-decors-__TooltipRenderer-module__fadeout--2ylMS {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

/** Currently used by SVGPlayground as default style */
svg.viewarea circle {
    fill: white;
    stroke: black;
}

svg.viewarea path {
    stroke: black;
}

/** Must at least match the specificity of default styles^^^ */
svg.viewarea .src-renderers-__Renderer-module__decorative--2SDDp {
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg.viewarea .src-renderers-__Renderer-module__mask--1tCSm {
    fill: transparent;
    stroke: transparent;
}

/** Debug styles */
#root.debug svg.viewarea .src-renderers-__Renderer-module__mask--1tCSm {
    stroke: yellowgreen;
    opacity: 0.5;
}

#root.debug svg *:hover {
    outline: 1px dashed rgba(0, 0, 0, 0.3);
}

.src-services-graph-widgets-editor-__GraphElementEditor-module__cancel--3DvDL {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}

.src-services-splash-__SplashDialog-module__container--xarKi {
    z-index: 30;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.src-services-splash-__SplashDialog-module__background--2hRHV {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000000;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.src-services-splash-__SplashDialog-module__background--2hRHV.hidden {
    opacity: 0;
    pointer-events: none;
}

.src-services-view-svg-__SVGPlayground-module__view--XnIZZ {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/*# sourceMappingURL=main.css.map*/