.container {
    margin: 0;
    border-radius: 1rem;
    background-color: var(--primary-dark);
    border-color: var(--primary);
    border-width: 8px;
    color: var(--primary-text);
}

.cancel {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--primary-text);
}
