/** Currently used by SVGViewArea as default style */
svg:global(.viewarea) circle {
    fill: white;
    stroke: black;
}

svg:global(.viewarea) path {
    stroke: black;
}

/** Must at least match the specificity of default styles^^^ */
svg:global(.viewarea) .decorative {
    pointer-events: none;
    user-select: none;
}

svg:global(.viewarea) .mask {
    fill: transparent;
    stroke: blue/* transparent!important */;
}
