.tableEntry {
    text-align: center;
}

.tableEntry:global(.error) {
    color: var(--danger);
}

.tableEntry:not(:global(.error)):global(.disabled),
.tableAxisHeader:global(.disabled) {
    opacity: 0;
}
