.container {
    position: relative;
    display: flex;

    /** flex-direction is controlled by SideBarLayout. */

    width: 100%;
    height: 100%;
    overflow: hidden;

    --side-margin: auto;
    --side-background: #333641;
}

.sideBar {
    z-index: 20;
    background: var(--side-background);
    overflow: auto;
    flex-shrink: 0;

    /**
     * HACK: Overrides the 'none' for workspace foreground input events.
     * Refer to WorkspaceLayout for more info.
     */
    pointer-events: auto;
}

.sideContent {
    display: flex;

    /** flex-direction is controlled by SideBarLayout. */
}

.sideContent > * {
    padding: 0.3rem;
}

.viewport {
    flex: 1;
    overflow: hidden;

    /** This makes sure that the viewport's overflow respects this container's height */
    width: 100%;
    height: 100%;
}

/** Disable the scroll bar */
.sideBar::-webkit-scrollbar {
    display: none;
}

.sideBar:global(.left) {
    width: var(--side-margin);
}

.sideBar:global(.right) {
    width: var(--side-margin);
}

.sideBar:global(.top) {
    height: var(--side-margin);
}

.sideBar:global(.bottom) {
    height: var(--side-margin);
}
