.container {
    display: flex;
    flex-direction: row;
    background: #333641;
    color: white;
    align-items: center;
    overflow: auto;

    /* width and height are set in App.module.css */
}

.container > * {
    margin: 0 1rem;
}
