.container {
    position: relative;
    max-width: 22rem;
    max-height: calc(100% - 1rem);
    overflow-y: auto;
    margin-top: 0.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.container:global(.empty) {
    opacity: 0;
}

.toggle {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--primary);
    color: var(--primary-text);
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    z-index: 10;
    user-select: none;
}

.toggleLabel {
    flex: 1;
}

.toggleIcon {
    width: 1rem;
}

.toggle:hover {
    background-color: var(--primary-dark);
}